/*
Author: Antik Paul
Date: 18/02/2026
File Name: styles.css
*/

/* CSS reset */

body,
header,
nav,
main,
footer,
h1,
div,
img,
ul {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: black;
}

img {
    max-width: 100%;
    display: block;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: black;
    width: 100%;
    float: none;
}

header img {
    margin: 0 auto;
}

nav {
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: 'Francois One', sans-serif;
    border-top: 1px solid #fff;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
}

#hero {
    clear: both;
}

main {
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.1em;
    font-family: 'Roboto Slab', serif;
}

.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

.tel-link {
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.hours {
    margin-left: 10%;
}

.round {
    border-radius: 8px;
}

main h2 {
    margin-bottom: 0.8em;
}

main h3 {
    margin-top: 1.2em;
    margin-bottom: 0.5em;
}

main p {
    margin-bottom: 0.6em;
}

main ul {
    margin-left: 1.2em;
    margin-bottom: 0.8em;
}

footer p {
    font-size: 0.85em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color: #fff;
    text-decoration: none;
}