/*
Author: Antik Paul
Date: 18/02/2026
File Name: styles.css
*/

/* CSS reset */

body,header,nav,main,footer,h1,div,img,ul {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: black;
}

img {
    max-width: 100%;
    display: block;
}

header {
    width: 15%;
    float: left;
}

nav {
    width: 80%;
    float: right;
    margin: 5em 3em 0 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    font-size: 1.2em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
}



#hero {
    clear: both;
}

main {
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.1em;
}

main h2 {
    margin-bottom: 0.8em;
}

main h3 {
    margin-top: 1.2em;
    margin-bottom: 0.5em;
}

main p {
    margin-bottom: 0.6em;
}

main ul {
    margin-left: 1.2em;
    margin-bottom: 0.8em;
}

footer p {
    font-size: 0.85em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color: #fff;
    text-decoration: none;
}